%h1 ポスト一覧
%ul
  - @posts.each do |post|
    %li
      %p
        = post.user.email
      %p
        = post.content
      %p
        = link_to '詳細', post_path(post)
      -# %p
      -#   = link_to 'Delete', post, method: :delete, data:  confirm: 'Are you sure?' 
